.columns-links > div {
  display: flex;
  flex-direction: column;
}

.columns-links img {
  width: 100%;
}

.columns-links > div > div {
  order: 1;
}

.columns-links > div > .columns-links-img-col {
  order: 0;
}

.columns-links > div > .columns-links-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns-links > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns-links > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columns-links li {
  margin-bottom: 8px;
}

.columns-links a {
  text-decoration: none;
}

.columns-links a:hover {
  text-decoration: underline;
}
